@import 'variables';

.landingpage {
    display: grid;
    gap: 1em;
    padding: 0 2em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.kmom-box:hover {
    background-color: #d3c6b3;
    border-radius: 20px;
}

.kmom-box h2 {
    color: $my-green;
    text-decoration: underline;
}

.kmom-box a {
    font-size: 1.5em;
    color: $my-green;
    text-decoration: none;
}

.kmom-box a:hover {
    color: $my-beige;
}

.kmom-box.project {
    grid-column: span 3;
}

/* REPORT */
.kmom {
    color: #e3147d;
}


// ADAPTATION FOR PHONES
@media (max-width: 767px) {
    .landingpage h1,
    .kmom-box,
    .kmom-box.project {
        grid-column: span 4;
    }

    .landingpage {
        padding: 0 2em;
    }
}
