* {
    font-family: 'Raleway', sans-serif;
}

a {
    color: #e3147d;
}

h1 {
    font-size: $big-header-size;
    color: $my-blue;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}
